---
layout: default
---
<div class="container">
    <div class="row justify-content-center">
        <h1>CryptoNews</h1>
    </div>

    <div class="row justify-content-center text-center">
        <p>Provided by <a href="" target="_blank">me</a>, a software engineer who has been researching blockchain technology since 2011. I promise to never sell your information and my goal is to educate!</p>
    </div>

    <div class="row justify-content-center">
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
            <form action="https://ventures.us17.list-manage.com/subscribe/post?u=c63d18b8bcb8dd6fed8392781&amp;id=1e32ec8aa3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c63d18b8bcb8dd6fed8392781_1e32ec8aa3" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
    </div>

    <br />

    <div class="row justify-content-center">
        <div class="list-group">
            <a href="https://gist.github.com/stefanovic-ventures/7a4363880bb20450e7d7ded620fae3d7" target="_blank" class="list-group-item list-group-item-action">Volume 1: Which exchange to use</a>
            <a class="list-group-item list-group-item-action disabled">Volume 2: Coming soon</a>
        </div>
    </div>
</div>
