---
layout: default
---
<div class="container text-center">
    <div class="col">
        <div class="row justify-content-center">
            <h1>{{ site.title }}</h1><!-- Стефановић Предузетништво -->
        </div>
        <div class="row justify-content-center">
            <p class="font-italic">"The best time to plant a tree was 20 years ago. The second best time is now."</p>
        </div>
        <div class="row justify-content-center">
            <img src="https://i.imgur.com/XiT9ooG.png" style="object-fit: contain;">
        </div>
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">CryptoNews</h4>
                    <p class="card-subtitle mb-2 text-muted">Learn about Bitcoin, Ethereum, the Blockchain, and more</p>
                    <a href="{{ site.url }}/cryptonews" class="card-link">Go to Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
